In [19]:
Select * from Employees where FirstName not like '[a-p]%'

Empid,FirstName,LastName,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 10:06:00.000,IT,Male

In [37]:
Select * from Employees where RTRIM(LTRIM(gender)) like '%le' and len(RTRIM(LTRIM(gender)))=4

Empid,FirstName,LastName,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 10:06:00.000,IT,Male
3,Ashish,Kumar,1000000.00,2014-09-01 09:00:00.000,IT,Male
4,Nikhil,Sharma,480000.00,2014-01-09 00:00:00.000,HR,Male
5,Anish,Kadian,500000.00,2014-01-09 10:30:50.000,Payroll,Male

In [38]:
Select * from Employees where FirstName like 'a%' and len(FirstName)=5

Empid,FirstName,LastName,Salary,JoiningDate,Department,Gender
5,Anish,Kadian,500000.00,2014-01-09 10:30:50.000,Payroll,Male

In [22]:
Select Distinct(Department) from Employees

Department
HR
IT
Payroll

In [23]:
Select Max(Salary)as 'Higest Salary', Min(Salary) as 'Lowest Salary' from Employees

Higest Salary,Lowest Salary
1000000.00,480000.00

In [24]:
select Format([joiningDate], 'yyyy/mm/dd')as JoiningDate from Employees

JoiningDate
2015/06/15
2017/00/01
2014/00/01
2014/00/09
2014/30/09

In [39]:
Select CAST(joiningDate as time)[JoiningTime] from Employees

JoiningTime
10:06:00
03:00:10
09:00:00
00:00:00
10:30:50

In [40]:
Select Top(1) * from Employees

Empid,FirstName,LastName,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 10:06:00.000,IT,Male

In [42]:
Select * from Employees where FirstName in ('Vikas','Akash','Nikhil')

Empid,FirstName,LastName,Salary,JoiningDate,Department,Gender
1,Vikas,Ahlawat,600000.00,2015-02-15 10:06:00.000,IT,Male
4,Nikhil,Sharma,480000.00,2014-01-09 00:00:00.000,HR,Male

In [43]:
Select * from Employees where FirstName not in ('Vikas','Akash','Nikhil')

Empid,FirstName,LastName,Salary,JoiningDate,Department,Gender
2,Nikita,Jain,530000.00,2017-09-01 03:00:10.000,HR,Female
3,Ashish,Kumar,1000000.00,2014-09-01 09:00:00.000,IT,Male
5,Anish,Kadian,500000.00,2014-01-09 10:30:50.000,Payroll,Male

In [44]:
Select RTRIM(FirstName) from Employees

(No column name)
Vikas
Nikita
Ashish
Nikhil
Anish

In [56]:
Select FirstName,
Case when Gender = 'Male' then 'M' when Gender = 'Female' then 'F' else 'Other' end as Gender 
from Employees

FirstName,Gender
Vikas,M
Nikita,F
Ashish,M
Nikhil,M
Anish,M

In [54]:
Select 'Hello '+FirstName as FirstName from Employees

FirstName
Hello Vikas
Hello Nikita
Hello Ashish
Hello Nikhil
Hello Anish

In [55]:
Select max(salary) as 'Second Maximum Salary' from Employees where Salary < (select max(Salary) from Employees)

Second Maximum Salary
600000.00