In [3]:
insert into EmployeeExe1 values(1234, 'J. Jones','Sales','18-Jun-92',24 )

In [4]:
insert into EmployeeExe1 values(2345, 'S. Smith','Production','12-Feb-98',40 )

In [5]:
insert into EmployeeExe1 values(3456, 'A. Adams','Sales','18-Nov-98',60 )

In [6]:
Select Distinct(Department) from EmployeeExe1

Department
Advertising
Production
Sales
Shipping

In [21]:
Alter Table EmployeeExe1
Add Location nvarchar(50);

In [34]:
update EmployeeExe1 set Location='NewYork'

In [41]:
EXEC sp_rename 'EmployeeExe1.Empid', 'EmployeeID';

In [42]:
Select * from EmployeeExe1 where Department in ('Sales','Shipping')

EmployeeID,Name,Department,HireDate,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NewYork
3456,A. Adams,Sales,1998-11-18,60,NewYork
6789,C. Cole,Shipping,1991-05-18,32,NewYork
7890,E. Ellis,Sales,1998-12-15,80,NewYork

In [47]:
Select * from EmployeeExe1 where HireDate BETWEEN '1991-01-01' AND '1998-12-31'

EmployeeID,Name,Department,HireDate,Training,Location
1234,J. Jones,Sales,1992-06-18,24,NewYork
2345,S. Smith,Production,1998-02-12,40,NewYork
3456,A. Adams,Sales,1998-11-18,60,NewYork
6789,C. Cole,Shipping,1991-05-18,32,NewYork
7890,E. Ellis,Sales,1998-12-15,80,NewYork

In [51]:
Select Top 0 * into EmployeeNew from EmployeeExe1

In [55]:
Select * from EmployeeExe1 where Training>40

EmployeeID,Name,Department,HireDate,Training,Location
3456,A. Adams,Sales,1998-11-18,60,NewYork
5678,D. Davis,Production,1999-07-26,56,NewYork
7890,E. Ellis,Sales,1998-12-15,80,NewYork
9012,G. Gates,Advertising,1999-03-15,48,NewYork

In [58]:
Select * into NewEmployee from EmployeeExe1

In [59]:
Delete from NewEmployee where Training>60

In [60]:
ALTER TABLE NewEmployee DROP COLUMN HireDate

In [62]:
ALTER TABLE NewEmployee ALTER COLUMN Department Varchar(34);

In [61]:
insert into EmployeeExe1 (Name,Department,Training) values('V. Ranjan','Production',20 )